main {
  width: 99.6%;
  height: 600px;
  border: 1px solid;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-bottom: 100px;
}

/* Register Form */
.register_form {
  border: 1px solid;
  width: 600px;
  height: 450px;
  padding: 20px;
  box-shadow: 10px 0px 10px 10px tan;
}

form {
  text-align: center;
}

input ::placeholder {
  color: dodgerblue;
}

#email-label,
#pasword-label,
#phone-label {
  display: block;
}

form input {
  width: 400px;
  padding: 10px;
  margin: 20px;
}

form button {
  width: 180px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}
